---
import { getCollection } from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionContent from "../components/SectionContent.astro";
import SectionFirst from "../components/SectionFirst.astro";
import SectionSEO from "../components/SectionSEO.astro";
import Imprint from '../components/Imprint.astro';

const dojos = await getCollection('dojos');
const agos = await getCollection('agos').then( (entries) => entries.find( (entry) => entry.slug === 'agos' ) ) ;
if(!agos) {
  throw new Error("AGOS entry not found in content collection 'agos'");
}
---

<BaseLayout pageTitle={agos.data.name}>
	<div id="top"></div>
  <SectionFirst agos={agos} dojos={dojos} />
  <!-- <SectionContent id="agos" class="about-section" content={agos} /> -->

  <!-- {dojos.map( (dojo: any) =>  <SectionContent key={dojo.id} content={dojo} /> )} -->

  <!-- <SectionSEO /> -->
   <Imprint />
</BaseLayout>

<script>
  import useCircleAnimation from "../scripts/useCircleAnimation";
  
  const mq = window.matchMedia('(prefers-reduced-motion: reduce)');
  document.documentElement.classList.toggle('reduced-motion', mq.matches);
  mq.addEventListener?.('change', e =>
    document.documentElement.classList.toggle('reduced-motion', e.matches)
  );
  mq.addListener?.(e =>
    document.documentElement.classList.toggle('reduced-motion', e.matches)
  ); // Fallback

  {useCircleAnimation(mq.matches)}
</script>