---
import { getCollection } from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import ContentSection from "../components/ContentSection.astro";
import FirstSection from "../components/FirstSection.astro";
import SEOSection from "../components/SEOSection.astro";
import UpButton from "../components/UpButton.astro";

const dojos = await getCollection('dojos');
const agos = await getCollection('agos').then( (entries) => entries.find( (entry) => entry.slug === 'agos' ) ) ;
if(!agos) {
  throw new Error("AGOS entry not found in content collection 'agos'");
}
---

<BaseLayout pageTitle={agos.data.name}>
	<div id="top"></div>
  <FirstSection id="hero" class="hero-section" agos={agos} dojos={dojos} />
  <ContentSection id="agos" class="about-section" dojo={agos} />

  {dojos.map( (dojo: any) =>  <ContentSection key={dojo.id} dojo={dojo} /> )}

  <SEOSection />
  <Footer />
  <UpButton />
</BaseLayout>

<script>
  import useCircleAnimation from "../scripts/useCircleAnimation";
  {useCircleAnimation()}
</script>