---
import { getCollection } from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import SectionContent from "../components/SectionContent.astro";
import SectionFirst from "../components/SectionFirst.astro";
import SectionSEO from "../components/SectionSEO.astro";
import UpButton from "../components/UpButton.astro";

const dojos = await getCollection('dojos');
const agos = await getCollection('agos').then( (entries) => entries.find( (entry) => entry.slug === 'agos' ) ) ;
if(!agos) {
  throw new Error("AGOS entry not found in content collection 'agos'");
}
---

<BaseLayout pageTitle={agos.data.name}>
	<div id="top"></div>
  <SectionFirst agos={agos} dojos={dojos} />
  <SectionContent id="agos" class="about-section" content={agos} />

  {dojos.map( (dojo: any) =>  <SectionContent key={dojo.id} content={dojo} /> )}

  <SectionSEO />
  <Footer />
  <UpButton />
</BaseLayout>

<script>
  import useCircleAnimation from "../scripts/useCircleAnimation";
  {useCircleAnimation()}
</script>