---
import FlipCard from "./FlipCard.astro";
import SocialIcons from "./SocialIcons.astro";

const dojo = Astro.props.dojo.data;
const className = Astro.props.className || "circle-element circle";
---
<FlipCard className={className}>
  <div class="flip-card-front-inner" slot="front">
    {dojo.logo
        ? <img slot="front" src={dojo.logo} alt={"Dojo " + dojo.name} />
        : <div slot="front" class="circle-title">{dojo.name}</div>
    }
  </div>

  <div class="flip-card-back-inner" slot="back">
    <div class="title">{dojo.name}</div>
    <div class="address">{dojo.address}</div>
    <SocialIcons icons={{
      facebook: dojo.facebook,
      gmaps: dojo.gmaps,
      dojoName: dojo.name
    }} />
    <a class="btn" href={"#" + dojo.id}>Erfahre mehr</a>
  </div>
</FlipCard>